# Chapter 2: Pandas Data Structures Basics

In [ ]:
import pandas as pd

## 2.1 Create Your Own Data
### 2.1.1 Create a Series

This creates a series with both entries as strings, even though one is a number:

In [ ]:
s = pd.Series(["banana", 42])
print(type(s))
print(s[0], type(s[0]))
print(s[1], type(s[1]))
print(s.info())
s

In [ ]:
s = pd.Series(
    data=["Wes McKinney", "Creator of Pandas"],
    index=["Person", "Who"]
)
print(type(s))
s

### 2.1.2 Create a DataFrame

In [ ]:
scientists = pd.DataFrame(
    {
        "Name": ["Rosalind Franklin", "William Gosset"],
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
        "Age": [37, 61]
    }
)
scientists

In [ ]:
scientists = pd.DataFrame(
    data={
        "Name": ["Rosalind Franklin", "William Gosset"],
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
        "Age": [37, 61]
    },
    index=["Rosalind Franklin", "William Gosset"],
    columns=["Occupation", "Born", "Died", "Age"]
)
scientists

## 2.2 The Series

One set of brackets gives a Series.

In [ ]:
first_row = scientists.loc["William Gosset"]
print(type(first_row))
first_row

Two sets of brackets give a DataFrame.

In [ ]:
first_row = scientists.loc[["William Gosset"]]
print(type(first_row))
first_row

In [ ]:
print(first_row.index)
print(first_row.values)